{% load static %}

<main class="form-signin w-100 m-auto">
    <form method="post" action="{% url 'cadastro' %}">
      {% csrf_token %}
      <a class="nav-link d-flex align-items-center gap-2" href="/plataforma/index">
        <img class="mb-4" src="{% static '/brand/bootstrap-logo.svg' %}" alt="" width="72" height="57">
      </a>
      <h1 class="h3 mb-3 fw-normal">Cadastro de produto</h1>
  
      {% if messages %}
      {% for message in messages %}
          <div class="alert alert-danger">
              {{ message }}
          </div>
      {% endfor %}
      {% endif %}
  
      <div class="form-floating">
        <input type="nameProd" name="nameProd" class="form-control" id="nameProd" placeholder="name product">
        <label for="floatingInput">Nome do produto</label>
      </div>
  
      <div class="form-floating mt-2">
        <input type="valor" name="valor" class="form-control" id="id_valor" placeholder="10,56">
        <label for="floatingInput">Valor</label>
      </div>
      <div class="form-floating mt-2">
        <input type="description" name="description" class="form-control" id="id_description" placeholder="description">
        <label for="floatingInput">description</label>
      </div>

      <div class="form-floating mt-2">
        <input type="category" name="category" class="form-control" id="id_category" placeholder="category">
        <label for="floatingInput">categoria</label>
      </div>
  
      <button class="btn btn-primary w-100 py-2" type="submit" >Cadastrar</button>
      <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
    </form>
  
  </main>
