{% load static %}

{% include 'templatebase/navbar.html' %}
<style>
  #formulario-cadastro {
      display: block;
  }

  #formulario-edicao {
      display: none;
  }
</style>

<br>

<main class="form-signin w-100 m-auto">
  <div id="formulario-cadastro">
    <form method="post" action="{% url 'cadastroProducts' %}" >
      {% csrf_token %}
      <a class="nav-link d-flex align-items-center gap-2" href="/plataforma/index">
        <img class="mb-4" src="{% static '/brand/bootstrap-logo.svg' %}" alt="" width="72" height="57">
      </a>
      <h1 class="h3 mb-3 fw-normal">Cadastro de produto</h1>
  
      {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success">
              {{ message }}
          </div>
      {% endfor %}
      {% endif %}
  
      <div class="form-floating">
        <input type="nameProd" name="nameProd" class="form-control" id="nameProd" placeholder="name product">
        <label for="floatingInput">Nome do produto</label>
      </div>
  
      <div class="form-floating mt-2">
        <input type="valor" name="valor" class="form-control" id="id_valor" placeholder="10,56">
        <label for="floatingInput">Valor</label>
      </div>
      <div class="form-floating mt-2">
        <input type="description" name="description" class="form-control" id="id_description" placeholder="description">
        <label for="floatingInput">description</label>
      </div>

      <div class="form-floating mt-2">
        <input type="category" name="category" class="form-control" id="id_category" placeholder="category">
        <label for="floatingInput">categoria</label>
      </div>
  
      <button class="btn btn-success w-100 py-2 mt-2" type="submit" >Cadastrar</button>
    </form>
  </div>
  {% for product in mProducts %}
  <div id="formulario-edicao"  aria-hidden="true">
    <form method="post"  action="{% url 'editar_produto' product.id %}"  id="confirmEdit{{ product.id }}">
      {% csrf_token %}
      <a class="nav-link d-flex align-items-center gap-2" href="/plataforma/index">
        <img class="mb-4" src="{% static '/brand/bootstrap-logo.svg' %}" alt="" width="72" height="57">
      </a>
      <h1 class="h3 mb-3 fw-normal">Edição de produto</h1>
  
      {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success">
              {{ message }}
          </div>
      {% endfor %}
      {% endif %}
  
      <div class="form-floating">
        <input type="nameProd" name="id" class="form-control" id="id" placeholder="{{product.id}}">
        <label for="floatingInput">{{product.id}}</label>
      </div>
      <div class="form-floating">
        <input type="nameProd" name="nameProd" class="form-control" id="nameProd" placeholder="name product">
        <label for="floatingInput">Nome do produto</label>
      </div>
  
      <div class="form-floating mt-2">
        <input type="valor" name="valor" class="form-control" id="id_valor" placeholder="10,56">
        <label for="floatingInput">Valor</label>
      </div>
      <div class="form-floating mt-2">
        <input type="description" name="description" class="form-control" id="id_description" placeholder="description">
        <label for="floatingInput">description</label>
      </div>

      <div class="form-floating mt-2">
        <input type="category" name="category" class="form-control" id="id_category" placeholder="category">
        <label for="floatingInput">categoria</label>
      </div>
  
      <button class="btn btn-primary w-100 py-2 mt-2" type="submit" >Editar</button>
      <button type="button" class="btn w-100 py-2 mt-2 btn-success" onclick="mostrarFormularioCadastro()">Cadastrar Produto</button>
    </form>
  </div>

    <br>
    <h2>Products</h2>
    
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name Product</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Function</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.valor }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.category }}</td>
                    <td>
                        <button data-product-id="{{ product.id }}" type="button" class="btn btn-danger"
                                data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ product.id }}">
                            Deletar
                        </button>
                        ou 
                        <button type="button" data-bs-target="#confirmEdit{{ product.id }}" data-product-id="{{ product.id }}" class="btn btn-warning" onclick="mostrarFormularioEdicao()">Editar Produto</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <form method="post" action="{% url 'produto_delete' product.id %}">
        {% csrf_token %}
        <div class="modal fade" id="confirmDeleteModal{{ product.id }}" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2>Tem certeza que deseja deletar o produto "{{ product.name }}"?</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endfor %}
    
    <br>
    <br>

  <!-- {% include 'buscar_produto.html' %}

  {% include 'resultado_busca.html' %} -->

<br>



  </main>

<script>
    document.getElementById('linkSubmit').addEventListener('click', function(event) {
        event.preventDefault(); // Evita o comportamento padrão do link
        document.getElementById('meuFormulario').submit(); // Submete o formulário
    });

    function mostrarFormularioEdicao() {
        const formularioCadastro = document.getElementById('formulario-cadastro');
        const formularioEdicao = document.getElementById('formulario-edicao');
        
        // Mostrar formulário de edição e ocultar formulário de cadastro
        formularioEdicao.style.display = 'block';
        formularioCadastro.style.display = 'none';
    }

    function mostrarFormularioCadastro() {
        const formularioCadastro = document.getElementById('formulario-cadastro');
        const formularioEdicao = document.getElementById('formulario-edicao');

        // Mostrar formulário de cadastro e ocultar formulário de edição
        formularioCadastro.style.display = 'block';
        formularioEdicao.style.display = 'none';
    }
</script>


{% include 'templatebase/footer.html' %}


