{% include 'templatebase/navbar.html' %}

{% if user.userprofile.namecomplte == NULL %}
<!-- Modal de Boas-Vindas -->
<div class="alert alert-warning" role="alert">
  <p>Complete o seu pefil clicando em <a class="alert-link" href="/accounts/profile/">aqui</a></p>
</div>

{% else %}
<div class="alert alert-success" role="alert">
  <P>Bem vindo {{user.userprofile.namecomplte}}</P>
</div>

{% endif%}

<div class="card mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-primary">
          <div class="card-body">
            <h5 class="card-title">Número de Parceiros</h5>
            <p class="card-text text-white font-weight-bold display-6">{{quantPartners}} - Prevent</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-danger">
          <div class="card-body">
            <h5 class="card-title">Número de Contratos</h5>
            <p class="card-text text-white font-weight-bold display-6">{{numero_de_linhas}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-success">
          <div class="card-body">
            <h5 class="card-title">Média vidas p/ parceiro</h5>
            <p class="card-text text-white font-weight-bold display-6"> {{medLifePartners}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-success">
          <div class="card-body">
            <h5 class="card-title">Extrato de comissão</h5>
            <p class="card-text text-white font-weight-bold display-6">R$ {{totVendaPrevent}} </p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-primary">
          <div class="card-body">
            <h5 class="card-title">Pagamento Pendentes</h5>
            <p class="card-text text-white font-weight-bold display-6">{{contratoPende}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-success">
          <div class="card-body">
            <h5 class="card-title">Pagamento Confirmadas</h5>
            <p class="card-text text-white font-weight-bold display-6">{{contratoConfi}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-success">
          <div class="card-body">
            <h5 class="card-title">Extrato total Previsto</h5>
            <p class="card-text text-white font-weight-bold display-6">R$ {{totalVendaPrev_prevent}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi"><use xlink:href="#calendar3"/></svg>
            This week
          </button>
        </div>
      </div>
<!-- 
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

      <div class="row mt-4 justify-content-center">
        <div class="col-md-6 text-center">
          <h5 class="text-center mb-3">Valor de vendas (Últimos 7 Dias)</h5>
          <canvas id="dailySalesChart"></canvas>
        </div>
        <div class="col-md-6 text-center">
          <h5 class="text-center mb-3">Quantidade de Vendas (Últimos 7 Dias) </h5>
          <canvas id="dailySalesQuantityChart"></canvas>
        </div>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            var dailySalesData = JSON.parse('{{ totalVendaPrev_prevent}}');
            var dailySalesQuantityData = JSON.parse('{{ numero_de_linhas }}');
      
            var ctxDailySales = document.getElementById('dailySalesChart').getContext('2d');
            var dailySalesChart = new Chart(ctxDailySales, {
              type: 'line',
              data: {
                labels: dailySalesData.dates,
                datasets: [{
                  label: 'Valor em vendas',
                  data: dailySalesData.values,
                  fill: false,
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 2,
                  tension: 0.5
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
      
            var ctxDailySalesQuantity = document.getElementById('dailySalesQuantityChart').getContext('2d');
            var dailySalesQuantityChart = new Chart(ctxDailySalesQuantity, {
              type: 'bar',
              data: {
                labels: dailySalesQuantityData.dates,
                datasets: [{
                  label: 'Quantidade de Vendas',
                  data: dailySalesQuantityData.values,
                  backgroundColor: 'rgba(255, 99, 132, 0.6)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          });
        </script>
      </div>



      

    


{% include 'templatebase/footer.html' %}