{% include 'templatebase/navbar.html' %}

{% if user.userprofile.namecomplte == NULL %}
<!-- Modal de Boas-Vindas -->
<div class="alert alert-warning" role="alert">
  <p>Complete o seu pefil clicando em <a class="alert-link" href="/accounts/profile/">aqui</a></p>
</div>

{% else %}
<div class="alert alert-success" role="alert">
  <P>Bem vindo {{user.userprofile.namecomplte}}</P>
</div>

{% endif%}

{% include 'components/_product_metrics.html' %}


      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi"><use xlink:href="#calendar3"/></svg>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

      <div class="mb-4"></div>
      <div class="embed-responsive embed-responsive-1by1" style="width: 400px; display: inline-block;">
        <canvas id="productByCategoryChart" class="embed-responsive-item"></canvas>
      </div>

      <!-- <h2>User</h2>
      
      <div class="table-responsive small">
        <table class="table table-striped table-sm table-bordered">
          <thead>
            
            <tr>
              <th scope="col">ID</th>
              <th scope="col">username</th>
              <th scope="col">email</th>
            </tr>
          </thead>
          <tbody>
            {% for x in mUser %}
            <tr>
              <td>{{x.id}}</td>
              <td>{{x.username}}</td>
              <td>{{x.email}}</td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> -->
      

    


{% include 'templatebase/footer.html' %}