{% load static %}
{% include 'templatebase/navbar.html' %}

<br>


<main class="form-signin w-100 m-auto">
    <div id="formulario-cadastro">
      <form method="post" action="" >
        {% csrf_token %}
        <a class="nav-link d-flex align-items-center gap-2" href="/plataforma/index">
          <img class="mb-4" src="{% static '/brand/bootstrap-logo.svg' %}" alt="" width="72" height="57">
        </a>
        <h1 class="h3 mb-3 fw-normal">Cadastro de Cliente</h1>
    
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    
        <div class="row">
            <div class="col form-floating mt-2">
                <input type="first_name" name="first_name" class="form-control" id="id_first_name" placeholder="First name">
                <label for="floatingInput" class="ms-2">First name</label>
            </div>
            <div class="col form-floating mt-2">
                <input type="last_name" name="last_name" class="form-control" id="id_last_name" placeholder="Last name">
                <label for="floatingInput" class="ms-2">Last name</label>
            </div>
        </div>

        <div class="form-floating mt-2">
          <input type="email" name="email" class="form-control" id="id_email" placeholder="email">
          <label for="floatingInput">Email</label>
        </div>
        <div class="row align-items-center ">
        <div class="form-floating mt-2 col-md-6">
          <input type="phone" name="phone" class="form-control" id="id_phone" placeholder="phone">
          <label for="floatingInput "class="ms-2">Phone</label>
        </div>
        <div class="col-md-6 ">
            <select id="inputState" class="form-select">
              <option selected>Sexo</option>
              <option value="Masculino">Masculino</option>
              <option value="Feminino">Feminino</option>
            </select>
          </div>
        </div>
        <div class="form-floating mt-2">
          <input type="profissao" name="profissao" class="form-control" id="id_profissao" placeholder="profissao">
          <label for="floatingInput">Profissao</label>
        </div>

        <div class="form-floating mt-2">
            <input type="Address" name="Address" class="form-control" id="id_Address" placeholder="Address">
            <label for="floatingInput">Address</label>
        </div>

        <div class="row ">
            <div class="form-floating col mt-2">
                <input type="city" name="city" class="form-control" id="id_city" placeholder="city">
                <label for="floatingInput " class="ms-2">City</label>
              </div>
              <div class="form-floating col mt-2">
                <input type="cep" name="cep" class="form-control" id="id_cep" placeholder="Cep">
                <label for="floatingInput" class="ms-2">Cep</label>
              </div>
          </div>
    
        <button class="btn btn-success w-100 py-2 mt-2" type="submit" >Cadastrar</button>
      </form>
    </div>
<!-- 
    <div id="formulario-edicao" >
      <form method="post" action="" id="edicaoForm">
        {% csrf_token %}
        <a class="nav-link d-flex align-items-center gap-2" href="/plataforma/index">
          <img class="mb-4" src="{% static '/brand/bootstrap-logo.svg' %}" alt="" width="72" height="57">
        </a>
        <h1 class="h3 mb-3 fw-normal">Edição de Cliente</h1>
      
        <div class="form-floating" >
          <input  type="id" name="id" class="form-control" id="productId"  disabled="">
          <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating">
          <input type="name" name="name" class="form-control" id="name" placeholder="name product" required>
          <label for="floatingInput">Nome do Cliente</label>
          <div class="invalid-feedback">
            Por favor, preencha este campo.
        </div>
        </div>
    
        <div class="form-floating mt-2">
          <input type="valor" name="valor" class="form-control" id="id_valor" placeholder="10,56" required>
          <label for="floatingInput">Valor</label>
          <div class="invalid-feedback">
            Por favor, preencha este campo.
        </div>
        </div>
        <div class="form-floating mt-2">
          <input type="description" name="description" class="form-control" id="id_description" placeholder="description" required>
          <label for="floatingInput">description</label>
          <div class="invalid-feedback">
            Por favor, preencha este campo.
        </div>
        </div>
  
        <div class="form-floating mt-2">
          <input type="category" name="category" class="form-control" id="id_category" placeholder="category" required>
          <label for="floatingInput">categoria</label>
          <div class="invalid-feedback">
            Por favor, preencha este campo.
        </div>
        </div>
        <button class="btn btn-primary w-100 py-2 mt-2" type="submit" >Editar</button>
        <button type="button" class="btn w-100 py-2 mt-2 btn-success" onclick="mostrarFormularioCadastro()">Cadastrar Cliente</button>
      </form>
    </div>
   -->
      
  
    </main>
  
<br>
<br>

{% include 'templatebase/footer.html' %}